/*
按钮效果：
*/
.circle {
    background-color: #e74c3c;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.circle::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate3d(-50%, -50%, 0) scale(0, 0);
    border-radius: 50%;
    background-color: #c0392b;
    transform-origin: center;
    transition: ease-in-out .5s;
}

.circle:hover::before {
    transform: translate3d(-50%, -50%, 0) scale(15, 15);
}